.App {
  display: flex;
  flex:1;
  justify-content: center;
  font-family:Arial, Helvetica, sans-serif;
  padding-top: 5%;
}
.Delivery-fee-calculator {
  display: flex;
  flex:0.5;
  flex-direction: column;
  background-color: rgb(245, 242, 242);
  padding-bottom: 30px;
}
.Title {
  padding: 20px;
  font-size: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  background-color: rgb(54, 81, 255);
}
.Input-component {
  display: flex;
  flex-direction:row ;
  flex: 1;
  padding: 5px;
  margin-bottom: 5px;
}
.Input-component-input-container {
  display: flex;
  flex: 2;
  align-items: center;
}
.Input-component-symbol-container {
  flex: 0.5;
}
.Input-component-title-container {
  flex: 1;
}
.Input-component-title {
  text-align: left;
  font-size: 15px;
  font-weight: 400;
}
.Input-component-symble {
  text-align: left;
  margin-left: 10px;
  font-size: 15px;
}
.Button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.Price-container {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
}

@media (max-width: 480px) {
  .Input-component-title {
    font-size: 8px;
    font-weight: 200;
  }
  .Input-component-symble {
    margin-left: 10px;
    font-size: 8px;
  }
  .Price-container {
    margin-top: 10px;
    font-size: 10px;
    font-weight: 200;
  }
}